.interactive-timeline {
	position: relative;
	font-family: 'Interstate', sans-serif;
	font-weight: 400;
	overflow: hidden;
}

.interactive-timeline._start .timeline-slider__prev {
	opacity: 0;
	visibility: hidden;
}

.interactive-timeline._end .timeline-slider__next {
	opacity: 0;
	visibility: hidden;
}

.interactive-timeline._dragging .timeline-slider__dragging-area {
	cursor: grabbing;
}

.interactive-timeline._dragging .timeline-slider__background:before {
	opacity: 1;
	transition-duration: 0.85s;
}

.interactive-timeline__title {
	text-align: center;
	font-size: 1.8rem;
	color: #ab35e5;
	padding-top: 4em;
	font-family: 'Interstate', sans-serif;
	margin-bottom: 1em;
}

.interactive-timeline__slider {
	display: flex;
	align-items: center;
	height: 655px;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
    .interactive-timeline__slider {
        height: 550px;
    }
}

.timeline-slider {
	position: relative;
	color: #fff;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
}

.timeline-slider:before {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: 0;
	width: 0;
	height: 0;
	border-right: 100vw solid transparent;
	border-top: 130px solid #fff;
	z-index: 1;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.timeline-slider:before {
		border-top-width: 98px;
	}
}

.timeline-slider__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/timeline-bg.jpg');
	background-size: cover;
	will-change: transform;
	transform: scale(1.2);
}

.timeline-slider__background:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(7, 66, 71, 0.15);
	opacity: 0;
	will-change: opacity;
	transition: opacity 0.15s ease-out;
}

.timeline-slider__dragging-area {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: grab;
}

.timeline-slider__lines {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.timeline-slider__line {
	width: 3px;
	height: 160px;
	background-color: #fff;
	transform-origin: center top;
	will-change: transform;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.timeline-slider__line {
		height: 120px;
	}
}

.timeline-slider__line:nth-child(2) {
	margin: 0 30vw;
}

.timeline-slider__track-line {
	position: absolute;
	top: 37%;
	left: 0;
	width: 100%;
	padding: 60px 0 30px;
}

.track-line {
}

.track-line__inner {
	transform: translate3d(0, 0, 0);
	position: relative;
	left: 50%;
}

.track-line__container {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	will-change: transform;
}

.track-line__value {
	display: inline-block;
	font-size: 200px;
	vertical-align: top;
	width: 550px;
	text-align: center;
	margin-right: 200px;
	transform: translateX(-50%);
}

.track-line__value-inner {
	display: inline-block;
	will-change: transform;
	transition: transform 0.5s ease-out;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.track-line__value {
		font-size: 150px;
		width: 410px;
		margin-right: 150px;
	}
}

.track-line__value:last-child {
	margin-right: 0;
}

.track-line__value:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #72f7ff;
	transform: translateY(-0.3em);
	transition: transform 0.5s ease-out;
	will-change: transform;
	transform-origin: center center;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.track-line__value:before {
		width: 9px;
		height: 9px;
		margin-left: -4.5px;
	}
}

.track-line__value._active .track-line__value-inner {
	transform: scale(1.1);
}

.track-line__value._active:before {
	transform: translateY(-0.3em) scale(4);
}

.timeline-slider__info {
	position: absolute;
	display: flex;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #a9faff;
}

.timeline-slider__info-item {
	position: relative;
	font-size: 60px;
	width: 50%;
	text-align: center;
	padding-bottom: 31px;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.timeline-slider__info-item {
		font-size: 45px;
	}
}

.timeline-slider__info-item:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #fff;
}

.timeline-slider__info-item-value {
}

.timeline-slider__prev,
.timeline-slider__next {
	position: absolute;
	top: 61%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	width: 65px;
	height: 65px;
	border-radius: 50%;
	box-shadow: 0 7px 10px rgba(60, 129, 134, 0.3);
	background-color: #00d6e3;
	cursor: pointer;
	transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}

.timeline-slider__prev:hover,
.timeline-slider__next:hover {
	transform: translateY(-50%) scale(1.03);
}

.timeline-slider__prev:active,
.timeline-slider__next:active {
	transform: translateY(-50%) scale(1.1);
}

.timeline-slider__prev {
	left: 70px;
}

.timeline-slider__next {
	right: 70px;
}

.timeline-slider__prev:before,
.timeline-slider__next:before {
	content: '';
	display: block;
	background-image: url('../img/arrow-right.svg');
	background-size: cover;
	width: 16px;
	height: 24px;
}

.timeline-slider__prev:before {
	transform: rotate(180deg);
}

.timeline-slider__next:before {
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.timeline-slider__prev,
	.timeline-slider__next {
		width: 49px;
		height: 49px;
	}

	.timeline-slider__prev:before,
	.timeline-slider__next:before {
		width: 12px;
		height: 18px;
	}
}

.timeline-carousel {
	position: relative;
	left: 50%;
}

.timeline-carousel__inner {
	display: flex;
	align-items: center;
	height: 180px;
	padding-top: 12px;
	box-sizing: border-box;
	will-change: transform;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.timeline-carousel__inner {
		height: 135px;
	}
}

.timeline-carousel__group {
	display: flex;
	margin-right: 150px;
	opacity: 0.2;
	transform: translateX(-50%);
}

.timeline-carousel__group._active {
	opacity: 1;
}

.timeline-carousel__group:last-child {
	margin-right: 0;
}

.timeline-carousel__item {
	display: flex;
	align-items: center;
	width: 350px;
	margin-right: 50px;
}

.timeline-carousel__item:last-child {
	margin-right: 0;
}

.timeline-carousel__item-icon {
	display: block;
	margin-right: 23px;
	width: 50px;
	height: auto;
}

.timeline-carousel__item-text {
	font-size: 24px;
}

@media screen and (max-width: 1100px), (max-height: 900px)  {
	.timeline-carousel__item-text {
		font-size: 18px;
	}
}
